# --- Node ---
node_modules/
.env
dist/
coverage/
logs/
*.log
npm-debug.log*

# --- Angular ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.output/
frontend/.cache/
frontend/.env

# --- OS/IDE ---
.DS_Store
Thumbs.db
.vscode/
*.swp
